* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  cursor: default;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  width: 100%;
  height: 30%;
  padding: 0 75px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header .header__head {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
}
.header .header__head .logo {
  font-size: 32px;
}
.header .header__head .logo :visited {
  color: #ff385c;
}
.header .header__head .search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  color: #222222;
  border: 1px solid #a5a5a5;
  border-radius: 20px;
  padding: 10px;
}
.header .header__head .search-form:hover {
  border: 1px solid #a5a5a5;
  box-shadow: 0px 3px 3px #ebebeb;
}
.header .header__head .search-form div {
  margin: 0 10px;
}
.header .header__head .search-form .search-form__who {
  color: #a5a5a5;
}
.header .header__head .search-form .search-form__button {
  border-radius: 50%;
  background-color: #ff385c;
  padding: 5px;
  color: #ffffff;
  font-size: 10px;
}
.header .header__head .header__etc {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}
.header .header__head .header__etc div {
  margin-right: 15px;
}
.header .header__head .header__etc .user-info {
  padding: 10px;
  margin-right: 0;
  border: 1px solid #a5a5a5;
  border-radius: 20px;
  color: #5a5a5a;
}
.header .header__body {
  height: 100px;
}
.header .header__body .place-concept {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .header__body .place-concept .place-concept__list {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .header__body .place-concept .place-concept__list li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.header .header__body .place-concept .place-concept__list li img {
  width: 24px;
  height: 24px;
}
.header .header__body .place-concept .place-concept__list li p {
  font-size: 12px;
  color: #5a5a5a;
}
.header .header__body .place-concept .place-concept__next-btn i {
  border: 1px solid #a5a5a5;
  border-radius: 50%;
  padding: 8px;
  margin: 0 auto;
  font-size: 12px;
}
.header .header__body .place-concept .place-concept__filter {
  width: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #a5a5a5;
  border-radius: 15px;
  padding: 15px;
  font-size: 12px;
}
.header .header__body .place-concept .search__form--temp {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 10%;
  border: 1px solid #a5a5a5;
  border-radius: 50px;
  background-color: #ebebeb;
}
.header .header__body .place-concept .search__form--temp .where--temp {
  margin-right: 20%;
}
.header .header__body .place-concept .search__form--temp div .title--temp {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
}
.header .header__body .place-concept .search__form--temp div .content--temp {
  font-size: 12px;
  color: #5a5a5a;
}
.header .header__body .place-concept .search__form--temp .when-check-in--temp {
  background-color: #ffffff;
  padding: 3% 8% 3% 3%;
  border-radius: 25px;
  box-shadow: 1px 1px 10px #a5a5a5;
}
.header .header__body .place-concept .search__form--temp .search-button__outer {
  padding: 20px 15px;
  margin-left: 20px;
  border-radius: 20px;
  background-color: #ff385c;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.main {
  width: 100%;
  height: 58%;
  padding: 0 75px;
}

.footer {
  width: 100%;
  height: 12%;
  bottom: 5px;
  position: fixed;
  padding: 0 75px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #a5a5a5;
}
.footer .footer__body {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  color: #5a5a5a;
}
.footer hr {
  width: 100%;
  border-top: 1px solid #a5a5a5;
}
.footer .footer__foot {
  font-size: 10px;
  color: #a5a5a5;
}

.calendar-hidden {
  display: none;
}

.calendar {
  position: fixed;
  top: 175px;
  left: 10%;
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #ebebeb;
  border-radius: 30px;
  background-color: white;
  z-index: 2;
}
.calendar__header {
  margin-top: 20px;
  width: 40%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  background-color: #ebebeb;
  font-size: 14px;
}
.calendar__header .calendar__select-day {
  width: 50%;
  height: 80%;
  text-align: center;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 5px;
  line-height: 40px;
}
.calendar__header .calenar__select-flexible {
  width: 50%;
  height: 80%;
  text-align: center;
  border-radius: 20px;
  margin: 5px;
  line-height: 40px;
}
.calendar__main {
  width: 90%;
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 50px;
}
.calendar__main .calendar__prev-month,
.calendar__main .calendar__after-month {
  width: 45%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}
.calendar__main .calendar__prev-title,
.calendar__main .calendar__after-title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}
.calendar__main thead td {
  font-size: 12px;
  color: #a5a5a5;
}
.calendar__main tr {
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  font-weight: bold;
}
.calendar__main tr td {
  border: 1px solid transparent;
  border-radius: 50%;
}
.calendar__main tr [class]:hover {
  cursor: pointer;
  border: 1px solid #222222;
}
.calendar__footer {
  width: 82%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.calendar__footer div {
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  color: #5a5a5a;
}
.calendar__footer .calendar__option-accurate-date {
  border: 1px solid #222222;
}

.modal-background {
  position: absolute;
  top: 30%;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
